<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>User settings</comment>
<entry key="displayStakeDuringRun">false</entry>
<entry key="shadow">true</entry>
<entry key="masterVolume">100</entry>
<entry key="highContrast">false</entry>
<entry key="window height">1046.0</entry>
<entry key="crtEffect">30</entry>
<entry key="playDiscardOrder">true</entry>
<entry key="reduceMotion">false</entry>
<entry key="gameVolume">100</entry>
<entry key="gameSpeed">1</entry>
<entry key="pixelArtSmoothing">true</entry>
<entry key="screenShake">50</entry>
<entry key="window width">1521.0</entry>
<entry key="musicVolume">100</entry>
<entry key="crtBloom">true</entry>
</properties>
