@font-face {
    font-family: Balatro;
    src: url("../font/balatro.ttf");
}

* {
    -fx-font-family: Balatro;
    -fx-common-color: #0093ff;
    -fx-uncommon-color: #35bd86;
    -fx-rare-color: #ff4c40;
    -fx-legendary-color: #ab5bb5;
    -fx-background-color-dark: #152023;
    -fx-background-color-light: #2B3639;
    -fx-shop-color: #CF4B3F;
    -fx-chips-color: #0093ff;
    -fx-mult-color: #ff4c40;
    -fx-tarot-color: #7B559C;
    -fx-planet-color: #00A8CA;
    -fx-spectral-color: #2E76FD;
    -fx-money-color: #f5b244;
}

.border {
    -fx-border-color: white;
    -fx-border-width: 2;
}

.tab {
    -fx-background-color: transparent, tab-border-color , tab-color;
    tab-color: linear-gradient(light-tab-color, dark-tab-color) ;
    tab-border-color : dark-tab-color ;
    dark-tab-color: #721b1b ;
    light-tab-color: #9b2626 ;
    -fx-background-insets: 0, 0 5 0 0, 1 6 0 0 ;
    -fx-padding: 4 10 4 4 ;
}


#boosterName_Label {
    -fx-font-size: 20pt;
}

.font-white {
    -fx-text-fill: white;
}

#gameScreenAnchor {
    -fx-background-image: url("../images/backgroundImage/pokerBackground.jpg");
    -fx-background-size: cover;
}

.shopSign {
    -fx-border-color: red;
    -fx-border-width: 5;
    -fx-border-radius: 20;
}

.btn-yellow {
    -fx-background-color: #ff8c00;
    -fx-font-color: white;
}

.btn-red {
    -fx-background-color: #f9443a;
    -fx-font-color: white;
}

.btn-blue {
    -fx-background-color: #0087f0;
    -fx-font-color: white;
}

.btn-green {
    -fx-background-color: #41926f;
    -fx-font-color: white;
}

.btn-yellow:hover {
    -fx-background-color: #935d00;
}

.btn-red:hover {
    -fx-background-color: #93241c;
}

.btn-blue:hover {
    -fx-background-color: #004f94;
}

.btn-green:hover {
    -fx-background-color: #1e563f;
}

.buy-background {
    -fx-background-color: #ff9700;
}

.sell-background {
    -fx-background-color: #34bd85;
}


/* */
.info-label {
    -fx-background-color: #333;
    -fx-background-radius: 5;
    -fx-effect:  dropshadow(three-pass-box,black,0,0,0,5);

}

.info-label label {
    -fx-background-radius: 5;
}

/*New Game Styles*/
.newGameTabPane .tab-header-background {
    -fx-opacity: 0;
}

.newGameTabPane .tab-header {

}

.tab{

    -fx-background-insets: 0 1 0 1,0,0;
}

.newGameTabPane .tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #3c3c3c;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.newGameTabPane .tab {

    -fx-pref-width: 280;
    -fx-background-color: -fx-mult-color;
    -fx-background-insets: 0 1 0 1, 0, 0;
}

.newGameTabPane .tab-pane {

    -fx-tab-min-width: 90px;
}

.newGameTabPane .tab-pane .tab {
    -fx-background-color: #e8e8e8;
}

.newGameTabPane .tab-pane .tab:selected {
    -fx-background-color: #c0c0c0;
}

.circle {
    -fx-fill: -fx-background-color-dark;
}

.circle.active {
    -fx-fill: white;
}

.rectangle {
    -fx-fill: -fx-background-color-dark;
    -fx-stroke: -fx-background-color-light;
}

.rectangle.available {
    -fx-min-width: 20;
}

.rectangle.active {
    -fx-stroke: white;
}

.spot {
    -fx-border-style: solid;
    -fx-border-radius: 5;
    -fx-border-color: #444;
    -fx-border-width: 1;
}

#mainButtonBox {
    -fx-background-color: #333;
    -fx-background-radius: 5px;
}

.money {
    -fx-background-color: -fx-money-color;
}

.shadow-b {
    -fx-effect: dropshadow(gaussian, #000, 0.0, 0.0, 0.0, 5.0);
}

.shadow-b-l {
    -fx-effect: dropshadow(three-pass-box, #000, 0.0, 0.0, -5.0, 5.0);
}
.shadow-b-r {
    -fx-effect: dropshadow(three-pass-box, #000, 0.0, 0.0, 5.0, 5.0);
}

.maxHeight {

}

#gridMenu {
    -fx-background-radius: 10px;
    -fx-background-color: #444;
}

.deck {

}

.deck:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.card:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;

    /*Javafx 23
    transition: -fx-scale-x 0.2s ease,
                -fx-scale-y 0.2s ease;*/
}

.card-selected {
    -fx-translate-y: -50;
}

.playingCard {

}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: -fx-background-color-dark;
}

.playingCard:hover {

}

.background-dark {
    -fx-background-color: -fx-background-color-dark;
}

.background-light {
    -fx-background-color: -fx-background-color-light;
}

/* Background Radius */
.bgr-5 {
    -fx-background-radius: 5;
}

.bgr-10 {
    -fx-background-radius: 10;
}

.bgr-15 {
    -fx-background-radius: 15;
}

.bgr-20 {
    -fx-background-radius: 20;
}

.bgr-l-5 {
    -fx-background-radius: 5 0 0 5;
}

.bgr-l-10 {
    -fx-background-radius: 10 0 0 10;
}

.bgr-l-15 {
    -fx-background-radius: 15 0 0 15;
}

.bgr-l-20 {
    -fx-background-radius: 20 0 0 20;
}

.bgr-r-5 {
    -fx-background-radius: 0 5 5 0;
}

.bgr-r-10 {
    -fx-background-radius: 0 10 10 0;
}

.bgr-r-15 {
    -fx-background-radius: 0 15 15 0;
}

.bgr-r-20 {
    -fx-background-radius: 0 20 20 0;
}

.bgr-b-5 {
    -fx-background-radius: 0 0 5 5;
}

.bgr-b-10 {
    -fx-background-radius: 0 0 10 10;
}

.bgr-b-15 {
    -fx-background-radius: 0 0 15 15;
}

.bgr-b-20 {
    -fx-background-radius: 0 0 20 20;
}

.bgr-t-5 {
    -fx-background-radius: 5 5 0 0;
}

.bgr-t-10 {
    -fx-background-radius: 10 10 0 0;
}

.bgr-t-15 {
    -fx-background-radius: 15 15 0 0;
}

.bgr-t-20 {
    -fx-background-radius: 20 20 0 0;
}

/* Border Radius */
.br-5 {
    -fx-border-radius: 5;
}

.br-10 {
    -fx-border-radius: 10;
}

.br-15 {
    -fx-border-radius: 15;
}

.br-20 {
    -fx-border-radius: 20;
}