/*--background-color: #444;*/
@font-face {
    font-family: Balatro;
    src: url("../font/balatro.ttf");
}

* {
    -fx-font-family: Balatro;
    -fx-common-color: #0093ff;
    -fx-uncommon-color: #35bd86;
    -fx-rare-color: #ff4c40;
    -fx-legendary-color: #ab5bb5;
    -fx-background-color-dark: #152023;
    -fx-background-color-ligth: #2B3639;
    -fx-shop-color: #CF4B3F;
    -fx-chips-color: #0093ff;
    -fx-mult-color: #ff4c40;
    -fx-tarot-color: #7B559C;
    -fx-planet-color: #00A8CA;
    -fx-spectral-color: #2E76FD;
    -fx-money-color: #f5b244;
}

#gameScreenAnchor {
    -fx-background-image: url("../images/backgroundImage/pokerBackground.jpg");
    -fx-background-size: cover;
}

.btnClose{
    -fx-background-image: url("../images/menuIcons/close-button.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.spot{
    -fx-border-style: solid;
    -fx-border-radius: 5;
    -fx-border-color: #444;
    -fx-border-width: 1;
}

#mainButtonBox {
    -fx-background-color: #333;
    -fx-background-radius: 5px;
}

#btnTitlePlay {
    -fx-background-color: #55f;

}

#btnTitleCollection {
    -fx-background-color: #080;
}

#btnTitleOption {
    -fx-background-color: #d70;
}

#btnTitleQuit {
    -fx-background-color: #f00;
}

.money{
    -fx-background-color: -fx-money-color;

}

.shadow-b {
    -fx-effect: dropshadow(gaussian, #000, 0.0, 0.0, 0.0, 5.0);
}

.shadow-b-l {
    -fx-effect: dropshadow(three-pass-box, #000, 0.0, 0.0, -5.0, 5.0);
}
.shadow-b-r {
    -fx-effect: dropshadow(three-pass-box, #000, 0.0, 0.0, 5.0, 5.0);
}

.maxHeigth {

}

#gridMenu {
    -fx-background-radius: 10px;
    -fx-background-color: #444;
}

.deck {

}